@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="container my-5">

    <div class="text-center" style="padding-top: 2rem;">
        <h2 class="text-white mb-4 text-center">@Localizer["Titulo"]</h2>
        <p style="color: var(--bs-primary)">@Localizer["Desc"]</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-3">

        <div class="col">
            <div class="card bg-dark text-white border-0 shadow-sm rounded-3 p-2 h-100">
                <div class="card-body py-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="card-title mb-1">@Localizer["Git"]</h6>
                        <small class="text-muted">Platzi</small>
                    </div>
                    <i class="bi bi-award fs-3 text-secondary"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark text-white border-0 shadow-sm rounded-3 p-2 h-100">
                <div class="card-body py-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="card-title mb-1">@Localizer["POO"]</h6>
                        <small class="text-muted">Platzi</small>
                    </div>
                    <i class="bi bi-award fs-3 text-secondary"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark text-white border-0 shadow-sm rounded-3 p-2 h-100">
                <div class="card-body py-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="card-title mb-1">@Localizer["CursoFront"]</h6>
                        <small class="text-muted">Platzi</small>
                    </div>
                    <i class="bi bi-award fs-3 text-secondary"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark text-white border-0 shadow-sm rounded-3 p-2 h-100">
                <div class="card-body py-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="card-title mb-1">@Localizer["CursoASPNET9"]</h6>
                        <small class="text-muted">Udemy</small>
                    </div>
                    <i class="bi bi-award fs-3 text-secondary"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark text-white border-0 shadow-sm rounded-3 p-2 h-100">
                <div class="card-body py-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="card-title mb-1">@Localizer["Backend"]</h6>
                        <small class="text-muted">Udemy</small>
                    </div>
                    <i class="bi bi-award fs-3 text-secondary"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark text-white border-0 shadow-sm rounded-3 p-2 h-100">
                <div class="card-body py-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="card-title mb-1">@Localizer["CursoMasterASPNET"]</h6>
                        <small class="text-muted">Udemy</small>
                    </div>
                    <i class="bi bi-award fs-3 text-secondary"></i>
                </div>
            </div>
        </div>

     

    </div>
</div>
